# Compilati
*.out
*.exe
*.o
*.obj

# Cartelle di build
/build/
/bin/
/dist/

# File temporanei
*.tmp
*.log

# File generati da editor
*.swp
*.swo

# VS Code
.vscode/

# MacOS
.DS_Store

# Backup vari
*~
